@import "tailwindcss";

:root {
  --background: #212121;
  --textGeneral: #fff;
}

@theme inline {
  --color-background: var(--background);;
  --textGeneral: var(--textGeneral);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --textGeneral: #fff;  }
}

/*@font-face {*/
/*  font-family: 'Roboto';*/
/*  src: url('../fronts/Roboto/static/Roboto-Regular.ttf');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*GLOBAL STYLES*/

body {
  background: var(--background);
  color: var(--textGeneral);
  /*font-family: Roboto, sans-serif;*/
}
